<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBresox9JFKG7u952J0PbvpgBUM_yXbi2Q</string>
	<key>GCM_SENDER_ID</key>
	<string>57754790418</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gmqqrn2</string>
	<key>PROJECT_ID</key>
	<string>gmqqrn2</string>
	<key>STORAGE_BUCKET</key>
	<string>gmqqrn2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:57754790418:ios:26da29cb14307b5acd86cb</string>
</dict>
</plist>